@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <h1>Crystal example</h1>
    <div>
        <a href="/HelloWorld" title="Hello World Report">Hello World</a>
    </div>
</body>
</html>
