@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <h1>Crystal example</h1>
    <form action="/HelloWorld">
    <input type="submit" value="Hello World">
    </form>
    <form action="/HelloYou" method="POST">
        <input type="text" name="name" />
        <button type="submit" >Hello You</button>
    </form>
</body>
</html>
